/***************
 Basisselektoren
****************/

/* Schriftart für alle Elemente setzen */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Schriftgrösse für Element mit Id intro setzen */
#intro {
  font-size: 20px;
}

/* Abstände zu Rand von Browserfenster setzen */
body {
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 25%;
  /*dasselbe könnte man mit einer Zeile erreichen:
  margin: 50px 25% 50px 25%
  */
}

/* Text in Titel Zellen linksbündig formatieren */
th {
  text-align: left;
}

/* Breite von Bild setzen auf 40% des main-Elements setzen */
img {
  width: 40%;
}

/* Schrift in Element mit Klasse importnat fett setzen */
.important {
  font-weight: bold;
}

/**********************************
 Aneinandergereihte Basisselketoren
***********************************/

/* Schriftart für span-Elemente mit Klasse code setzen */
span.code {
  font-family: 'Courier New', Courier, monospace;
}

/* Schrift für span-Element mit Klasse italic kursiv setzen */
span.italic {
  font-style: italic;
}

/* Für Elemente mit Klasse Klasse example setzen:
     - Hintergrundfarbe
     - Ecken abrunden
     - Padding
  */
p.example {
  background-color: rgb(255, 165, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
}

/**********************************
 Gruppenselektoren
***********************************/

/* Farbe für h1 Elemente setzen */
h1,
span.important {
  color: darkred;
}

/* Farbe für h2- und h3-Elemente setzen */
h2,
h3 {
  color: orange;
}

/* Rahmen und Padding für Tabelle definieren */
table,
tr,
th,
td {
  border-collapse: collapse;
  border: 1px solid darkred;
  padding: 5px;
}

/**********************************
 Kombinatoren
***********************************/

/* Hintergrundfarbe für alle Zeilen im Tabellen Header definieren */
thead tr {
  background-color: orange;
}

/**********************************
 Pseudo-Klassen
***********************************/

/* Hintergrunde von Zeilen im Tabellen Body setzen */
tbody tr:hover {
  background-color: rgb(139, 0, 0, 0.1);
}

/* Breite für 2. Spalte in Tabelle setzen */
td:nth-child(2) {
  width: 25%;
}
